{% load static %}
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="logo">
                    <img class="berlin-img" src="{% static 'img/berlin.svg' %}" alt="berlin" width="40" height="40">
                    <h2><a href="#">Hall</a></h2>
                </div>
            </div>
            <div class="col-md-10">
                <div class="menu">
                    <ul>
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">lifestyle</a></li>
                        <li><a href="#">Food</a></li>
                        <li><a href="#">Nature</a></li>
                        <li><a href="#">photography</a></li>
                    </ul>
                </div>

                <img class="fernsehturm" src="{% static 'img/fernsehturm-berlin.svg' %}" alt="fernsehturm" width="45" height="45">
            </div>
        </div>
    </div>
</header>