{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ block.super }}{{ tab_title }}
{% endblock %}

{% block content %}
    <section class="bg-text-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="bg-text">
                        <h3>{{ background_title }}</h3>
                        <p>
                            {{ background_content }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="blog-post-area">
        <div class="container">
            <div class="row">
                <div class="blog-post-area-style">
                        <div class="col-md-12">
                            <div class="single-post-big">
                                <a href="{{ attached_post.get_absolute_url }}">
                                    <div class="big-image">
                                        <img src="{{ attached_post.image.url }}" alt="{{ attached_post.title }} photo">
                                    </div>
                                    <div class="big-text">
                                        <h3>{{ attached_post.title }}</h3>
                                        <p>{{ attached_post.content|safe|truncatewords_html:50 }}</p>
                                        <h4><span class="date">{{ attached_post.updated_at|date:"d F Y" }}</span><span class="author">Posted By: <span class="author-name">{{ attached_post.author.username }}</span></span>
                                        </h4>
                                    </div>
                                </a>
                            </div>
                        </div>

                        {% for post in posts %}
                            <div class="col-md-3">
                                <div class="single-post">
                                    <a href="{{ post.get_absolute_url }}">

                                        {% if post.image %}
                                            <img src="{{ post.image.url }}" alt="" height="150">
                                        {% else %}
                                            <img src="{% static 'img/Berlin-U.jpg' %}" alt="" height="150">
                                        {% endif %}

                                        <h3>{{ post.title }}</h3>
                                        <h4>
                                            <span>Posted By: <span class="author-name">{{ post.author.username }}</span></span>
                                        </h4>
                                        {{ post.content|safe|truncatewords_html:40 }}
                                        <h4><span>{{ post.updated_at|date:"d F Y" }}</span></h4>
                                    </a>
                                    </div>
                            </div>
                        {% endfor %}
                </div>
            </div>
        </div>
        <div class="pegination">
            <!--
            <ul>
                <li><i class="fa fa-angle-left" aria-hidden="true"></i></li>
                <li class="active">1</li>
                <li>2</li>
                <li>3</li>
                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
            </ul>
-->
            {% include 'inc/_pagination.html' %}
        </div>
    </section>
{% endblock %}