{% load static %}

<div class="col-md-4">
    <div class="newsletter">
        <h2 class="sidebar-title">Search</h2>
        <form action="{% url 'search' %}" method="get">
            <input type="text" name="search" id="" placeholder="Search...">
            <input type="submit" value="Search">
        </form>
    </div>

    <h2 class="sidebar-title">Posts</h2>

    <div class="grid" style="position: relative; height: 684px;">
        {% for post in posts %}
        <div class="portfolio-item recent" style="position: absolute; left: 0px; top: 0px;">
            <img src="{{ post.image.url }}" alt="{{ post.title }} photo">
            <div class="portfolio-text">
                <h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
                <p>By {{ post.author.username }} <span>|</span>{{ post.updated_at|date:"d F Y" }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    {% include 'inc/linkedin-banner.html' %}

    <div class="tags">
        <h2 class="sidebar-title">Tags</h2>
        {% for tag in tags %}
            <p><a href="/tags/{{tag.slug}}">{{tag.name}}</a></p>
        {% endfor %}

    </div>
</div>