{% extends 'base.html' %}
{% load static %}

{% block title %}
  Main page
{% endblock %}

{% block content %}
<section class="single-blog-area">
    <div class="container">
        <div class="row">
           <div class="col-md-12">
            <div class="border-top">
                <div class="col-md-8">
                <div class="blog-area">
                    <div class="blog-area-part">
                        <div class="single_head">
                            <h2>{{ post.title }}</h2>
                            <span class="single_views">Seen: {{ post.views }}</span>
                        </div>
                        <img src="{{ post.image.url }}" alt="">
                        <p>{{ post.content|safe }}</p>
                    </div>

                    {% include 'inc/github-banner.html' %}
                    {% include 'blog/comments.html' %}

                    <form action="#" method="get">
                        <div class="name">
                            <input type="text" name="" id="" placeholder="Name" class="name">
                        </div>
                        <div class="email">
                            <input type="email" name="" id="" placeholder="Email" class="email">
                        </div>
                        <div class="comment">
                            <input type="text" name="" id="" placeholder="Comment" class="comment">
                        </div>
                        <div class="post">
                            <input type="submit" value="Post">
                        </div>
                    </form>
                </div>
            </div>
            {% include 'blog/sidebar.html' %}
            </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}